{% extends 'website/base.html' %}

{% block content %}
<div class="global">
  <h1>About me</h1>
  <div class="about_container">
  <div class="avator">
    <div class="img">
      <img src="images/me.jpeg" alt="headshot">
    </div>

    <div class="name">
      <h2>Mubita Joseph Mubita <span><i class="fab fa-goodreads"></i></span></h2>
      
<p>
          Meet Mubita Joseph Mubita, an open-minded wordsmith with a passion for reading and writing. From the days of grade school, a longing to create stories has blossomed into a collection of tales that have found their home on various platforms. With each word, Mubita Joseph Mubita weaves worlds that captivate and inspire, inviting readers into realms shaped by creativity and a love for storytelling. Join the journey through imagination as Mubita Joseph Mubita continues to explore the boundless possibilities of the written word and race to became a best selling author.
                </p>
      
    </div>
    
  </div>
   
 <div class="newsletter_sub_container">
  <div class="newsletter_sub_container_child_1">
    <h3>Join my newsletter </h3>
    <p>Be the first to know</p>
  </div>
  
  <div class="newsletter_sub_container_child_2">
     <iframe src="https://embeds.beehiiv.com/b2cb2588-1742-434d-9fdd-d4beb4aadd41?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
  </div>
</div>
  <div class="bio">
       <h3>My Story</h3>
                <p>
                   Growing up in the vibrant heart of Lusaka, I was always drawn to stories—those whispered under the stars and the ones hidden in the pages of old books. My love for storytelling began as a child, scribbling tales in notebooks and imagining worlds beyond my own. Today, I write to explore the shadows of the human mind, crafting stories that challenge, thrill, and inspire. This is my journey—a fusion of passion, curiosity, and an unyielding desire to leave a mark through words.

                </p>

   </div>
</div>
</div>
{% endblock %}