<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  
  <meta name="description" content="Welcome to Mubita Joseph Mubita's official website. Explore captivating dark fiction, mystery, and thrilling stories, plus get exclusive updates and free content.">
    <meta name="keywords" content="dark fiction author, mystery novels, free stories, mubita joseph mubita, author website, thrilling stories">
    <meta name="author" content="Mubita Joseph Mubita">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Mubita Joseph Mubita - Author of Dark Fiction & Mystery">
    <meta property="og:description" content="Discover gripping stories and thrilling mysteries by Mubita Joseph Mubita. Stay updated and get exclusive content just for you!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mubitajmubita.free.nf/index.html">

    
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Mubita Joseph Mubita- Author of Dark Fiction & Mystery">
    <meta property="twitter:description" content="Explore thrilling stories, free content, and exclusive updates from Mubita Joseph Mubita, author of dark fiction and mysteries.">
   
    
  
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6KGSX0VBE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z6KGSX0VBE');
</script>

  
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/logo/logo_small_icon_only.png" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/e7c00cd655.js" crossorigin="anonymous"></script>
  <title>Home</title>
</head>
<body>

<div class="notification-bar">
    <p>📢 <strong> Widow's Dose </strong> is coming 20th February 2026!
    </p>
</div>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="stories.html">Stories</a>
  <a href="contact.html">Contact</a>
  <a href="about.html">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- Banner -->

<div class="banner">
    <div class="banner-content">
      <h1>WIDOW'S DOSE</h1>
      <p class="subtitle">Uncover the truth behind the cure that became a killer</p>
      <p class="details">Coming 20th February 2026</p>
      
    <!--  <button class="cta-button">Pre-Order Now</button> -->
    </div>
</div>


<!-- Banner 2 -->

  <div class="welcome-advert">

    <div class="welcome">
<!--       <img src="logo/logo_small_icon_only.png" alt="website logo"> -->
            <img src="images/me-circle.png" alt="website logo">
            
      <h1>Mubita Joseph Mubita</h1>
      <p>
        Welcome to my fiction world. You will find all my works: short stories, novels and series.
      </p>
      <p>
        Feel free to follow me on my socials.
      </p>
      <ul>
        <li><a href="https://www.x.com/mubitajmubita"><i class="fab fa-twitter"></i></a></li>

        <li><a href="https://www.facebook.com/mubitajmubita"><i class="fab fa-facebook"></i></a></li>

        <li><a href="https://www.linkedin.com/in/mubita-j-mubita-2010b7278?trk=contact-info">
          <i class="fab fa-linkedin"></i>
          </a></li>

        <li><a href="https://www.x.com/mubitajmubita"><i class="fab fa-amazon"></i></a></li>

        <li><a href="https://goodreads.com/mubitajmubita">
          <i class="fab fa-goodreads"></i>
          </a></li>


        <li><a href="https://allauthor.com/author/mubitajmubita/"></a>AllAuthor</li>
      </ul>
    </div>
<div class="sub_top">
 <iframe src="https://embeds.beehiiv.com/b2cb2588-1742-434d-9fdd-d4beb4aadd41?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
 <p>Subscribe to get a FREE short story </p>
</div>
  </div>
  <!-- this is the coming soon section-->
  
<!--   <a href='https://allauthor.com/profile/mubitajmubita/' target='_blank'><img src='https://allauthor.com/gif/all/gif/mubitajmubita_1.gif?v=1' alt='Author Mubita Joseph Mubita'></a> -->
  
      <div class="mybooks">
        <h2>Latest</h2>
      </div>
      
<div class="popup-overlay" id="popupOverlay"></div>
  <div class="popup" id="popup">
    <button class="close-btn" id="closePopup">&times;</button>
    <h2>Join My Newsletter</h2>
    <p>Get updates, insights, and special offers delivered to your inbox.</p>
    <iframe src="https://embeds.beehiiv.com/b2cb2588-1742-434d-9fdd-d4beb4aadd41?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>

</div>
  
  
  <div class="coming_soon">
    <div class="coming_soon_book">
      <img src="book_covers/coming_soon.jpg" alt="bookcover" />
    </div>
    <div class="coming_soon_details">
      <ul>
        <li> <h2> Widow's Dose </h2></li>
        <li><h3> <i class="fa-solid fa-calendar"></i>  20th Feb 2026 </h3></li>
        <li><h3> <i class="fa fa-money-bill"></i> $3.99 </h3></li>
        <li><p>Framed for her husband's murder, Catherine becomes a deranged fugitive after an overdose of the deadly drug Vindex. Desperate to clear her name and uncover the truth, she must navigate a treacherous web of deceit to identify her husband's killer and prevent the global release of Vindex, which threatens to unleash chaos and destruction. With time running out, Catherine's quest for justice and survival becomes a deadly race against the clock.</p></li>
      </ul>
    </div>
  </div>
  
  <!-- this is the bookshowcase -->
      
      <div class="mybooks">
        <h2>Other Books</h2>
      </div>
  <div class="book_container">

    <!-- Book1 -->

    
   <!-- Book2 --> 
    
    <div class="booklist">
      <div class="book_cover">
      <img src="book_covers/Race-Against-Time-original.jpeg" alt="bookcover" />
      <ul>
        <li>Race Against Time</li>
        <li> $3.99 </li>
        <li><a href="https://books2read.com/u/4jEALZ"> <button id="order_button"> Buy </button> </a></li>
      </ul>
      <br />
    </div>
    
      <div class="book_cover">
      <img src="book_covers/wanted_cover.jpg" alt="bookcover" />
    </div>
      <ul>
        <li>Wanted </li>
        <li>$1.99</li>
        <li><a href="https://books2read.com/u/316Ao6"> <button id="order_button"> Buy </button> </a></li>
      </ul>
    <!-- Book2 -->
    
    </div>
    <!-- Book2 -->
    <div class="booklist">
   
      <!-- Book1 -->

    
   <!-- Book1 -->
      <div class="book_cover">
      <img src="book_covers/Rose_cover_1.jpg" alt="bookcover" />
      <ul>
        <li> Rose </li>
        <li>$1.99</li>
        <li><a href="https://books2read.com/u/br6a7W"> <button id="order_button"> Buy </button> </a></li>
      </ul>
      
    </div>
    <!-- Book2 -->
    
    </div>
    <!-- Book3 -->
    <div class="booklist">
      
   <!-- Book1 -->
      <div class="book_cover">
      <img src="book_covers/help_me_cover.jpg" alt="bookcover" />
      <ul>
        <li>Help me</li>
        <li>Free</li>
        <li><a href="free/help_me.pdf"> <button id="order_button"> Download </button> </a></li>
      </ul>
      
    </div>
    <!-- Book2 -->
    
    </div>
    <!-- Book3 -->
    <div class="booklist">
      

    
    </div>
  </div>

<div>
  <iframe src="https://embeds.beehiiv.com/b4a45b7e-4536-412d-a002-c72e2ad31502" data-test-id="beehiiv-embed" width="98%" height="320" frameborder="0" scrolling="no" style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;"></iframe>
</div>


  <footer>

    <div class="about">
      <img src="logo/logo_white_large.png" alt="website logo">

      <br>
      <br>
      <div class="copyright">
        &copy All rights reserved 2025
      </div>
    </div>

    <div class="contact">
      <h3>Contact Me</h3>
      <p>
        Matero North
      </p>
      <p>
        P.O BOX 50422
      </p>
      <p>
        mubitajmubita@gmail.com
      </p>
    </div>
    
    <div class="links">
      <h3>Social Links</h3>
      <ul>
        <li><a href="https://www.x.com/mubitajmubita"><i class="fab fa-twitter"></i></a></li>

        <li><a href="https://www.facebook.com/mubitajmubita"><i class="fab fa-facebook"></i></a></li>

        <li><a href="https://www.linkedin.com/in/mubita-j-mubita-2010b7278?trk=contact-info"><i class="fab fa-linkedin"></i></a></li>

        <li><a href="https://www.x.com/mubitajmubita"><i class="fab fa-amazon"></i></a></li>

        <li><a href="https://goodreads.com/mubitajmubita"><i class="fab fa-goodreads"></i></a></li>


        <li><a href="https://allauthor.com/author/mubitajmubita/"></a>AllAuthor</li>
      </ul>

    </div>
  </footer>

<script type="text/javascript" charset="utf-8">
  
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
};

   const popup = document.getElementById('popup');
    const popupOverlay = document.getElementById('popupOverlay');
    const closePopup = document.getElementById('closePopup');
    let popupShown = false;

    // Show popup when user scrolls halfway
    window.addEventListener('scroll', () => {
      if (!popupShown) {
        const scrollPosition = window.scrollY + window.innerHeight;
        const documentHeight = document.documentElement.scrollHeight;

        if (scrollPosition >= documentHeight / 2) {
          popup.style.display = 'block';
          popupOverlay.style.display = 'block';
          popupShown = true; // Ensure it shows only once
        }
      }
    });

    closePopup.addEventListener('click', () => {
      popup.style.display = 'none';
      popupOverlay.style.display = 'none';
    });

    popupOverlay.addEventListener('click', () => {
      popup.style.display = 'none';
      popupOverlay.style.display = 'none';
    });


</script>






</body>
</html>